<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Categories </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</head>

<style>
.dashboard .container  .panel-group
{
    margin-right: 10%;
    margin-left: 10%;
}
.btn-unknown {
     background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;

}
</style>

</head>
<body>
    <!-- Beginning of Navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Yummy Recipes <span class="glyphicon glyphicon-cutlery"></span></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> <span class="glyphicon glyphicon-user"></span> Welcome {{ session['user'] }}  </a></li>
                <li><a href="/logout"> Logout <span class="glyphicon glyphicon-log-out"></span> </a></li>
            </ul>
        </div>
    </nav>
    <!-- End of Navbar -->
    <!-- Beginning of Container -->
    <div class="dashboard">
        <div class="container">
            <div class="panel panel-group">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">Yummy Recipes - Categories </div>
                    {% if msg %}
                    <center> <div class="alert alert-danger">  {{ msg }}</div></center>
                    {% endif %}

                    {% if success %}
                    <center> <div class="alert alert-success">  {{ success }}</div></center>
                    {% endif %}
                    <div class="panel panel-body">
                        <!-- Beginning of Table -->

                        <!-- Modal -->
                        <a href="#modalForm" role="button" data-toggle="modal" class="btn btn-primary data">  Add Recipe Categories </a>

                        <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
                            <div class="modal-dialog">
                                <!-- Content of modal-->
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                        data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="modal_label">
                                        Create Recipe Category
                                    </h4>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">

                                    <form role="form" action="/cat_register" method="POST">

                                        <div class="form-group">
                                            <center><label for="category_name">Category Name </label></center>
                                            <input type="text" class="form-control"
                                            id="category_name" placeholder="category name" name="category_name"/>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Create Category
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr> <br> </tr>
                        <tr> <br> </tr>

                        {% for recipe_categories in data %}

                        <tr>
                            <td> {{ recipe_categories[0] }}  </td>


                            <td>
                                <form action="/view_category/{{recipe_categories[0]}}" method="POST">

                                    <input type="hidden" name="category_name" value=" {{ recipe_categories[0] }} " hidden>
                                    <button type="submit" class="btn-unknown" > View Recipes </button>
                                </form>

                            </td>


                            <td> <a href="#modalForm2{{ recipe_categories[0] }}" data-toggle="modal"> Update </a>
                        <div class="modal fade" id="modalForm2{{ recipe_categories[0] }}" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
                            <div class="modal-dialog">
                                <!-- Content of modal-->
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                        data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" >
                                        Update {{ recipe_categories[0] }} Category
                                    </h4>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">

                                    <form role="form" action="/category_edit/{{recipe_categories[0]}}" method="POST">

                                        <div class="form-group">
                                            <center><label for="category_name">Category Name </label></center>
                                            <input type="text" class="form-control"
                                             placeholder="category name" name="cat_name"/>

                                            <input type="hidden" class="form-control" value="{{ recipe_categories[0] }}"
                                            placeholder="category name" name="category_name"/>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                            data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Edit Category
                                        </button>
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                            </td>
                            <td>
                                <form action="/category_delete" method="POST">

                                <input type="hidden" class="form-control" value="{{ recipe_categories[0] }}"
                                            placeholder="category name" name="category_name"/>
                                    <button type="submit" role="button" id="{{ recipe_categories[0] }}"> Delete </button>
                              </form>
                            </td>
                        </tr>
                        {% endfor %}


                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end of Container -->


</body>
</html>